<% if(username) {%>
    <h2>User dang dang nhap : <%=username%> </h2> 
    <a href="/logout">DANG XUAT</a>
    <% } else { %>
<h2> Nhap sai thong tin .Dang nhap lại :</h2> <a href="/login">DANG NHAP</a>

<%}%>